* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

header {
  font-family: 'Life Savers', 'Open Sans', sans-serif;
  font-size: 60px;
  color: #2B4E80;
  margin-bottom: 30px;
}

main {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section {
  width: 300px;
  align-items: center;
  margin: 10px 20px;
}

p {
  position: absolute;
  margin-top: 125px;
  visibility: hidden;
}

#left-side {
  display: flex;
  flex-direction: column;
  background-color: #E6ECF4;
}

#ask-question {
  width: 280px;
  margin: 10px 20px 0px 20px;
  text-align: center;
  color: #969696;
  font-weight: 300;
  padding: 5px 0px;
}

#get-answer {
  background-color: #2B4E80;
  color: #ffffff;
  width: 280px;
  margin: 5px 20px 10px 20px;
  padding: 5px 0px;
}

#eight-ball {
  height: 100px;
  width: 100px;
  margin-top: 50px;
}

#clear {
  display: flex;
  align-self: flex-end;
  margin-top: 50px;
  margin-right: 10px;
  background-color: #DE4841;
  color: #ffffff;
  padding: 5px 10px;
}

#woody {
  height: 300px;
}

#get-answer:hover {
  background-color: #1C3455;
}

#get-answer:disabled {
  background-color: #607AA0;
}

#clear:disabled {
  background-color: #D0CDCD;
}

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
